<h1>Manage Orders</h1>

<div class="order-info">
  Order Information
</div>



<div *ngIf="orderList.length > 0">
  <table>
    <thead>
      <tr>
        <th>Sr#</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Equipment</th>
        <!-- <th>Hospital</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
        <td>{{ order.id }}</td>
        <td>{{ order.orderDate | date : 'short'}}</td>
        <td>{{ order.status }}</td>
        <td>
          id:{{ order.equipment.id }} <br>
          name:{{ order.equipment.name }}<br>
          description:{{ order.equipment.description }}
        </td>
        <!-- <td>
          id:{{ order.hospital.id }}<br>
          name:{{ order.hospital.name }}<br>
          description:{{ order.hospital.description }}
        </td> -->
        <td>
          <button (click)="update(order.id)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="orderList.length === 0">
  No orders available.
</div>

<div *ngIf="showModal" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5 class="modal-title">Update Order Status</h5>
      <button class="btn-close" (click)="cancelUpdate()">❌</button>
    </div>
    <div class="custom-modal-body">
      <form [formGroup]="orderForm" (ngSubmit)="saveUpdate()">
        <div class="form-group">
          <label for="newStatus">Status:</label>
          <select id="newStatus" formControlName="newStatus" [(ngModel)]="statusModel.newStatus" class="form-control">
            <option value="initiated">Initiated</option>
            <option value="completed">Completed</option>
          </select>
        </div>
        <div class="custom-modal-footer">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-secondary" type="button" (click)="cancelUpdate()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showError" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="showMessage" class="success-message">
    {{ responseMessage }}
  </div>