h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .order-info {
    background-color: gray;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .success-message {
    color: blue; 
    font-weight: bold;
    margin: 10px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #040905;
    color: white;
  }
  
  button {
    background-color: #cad235;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .custom-modal-overlay {
    display: block; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .custom-modal {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .custom-modal-body {
    margin-top: 20px;
  display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
  }